:root {
  --font-family-main: 'HelveticaNeueCyr', sans-serif;
  --font-family-geometria: 'Geometria', sans-serif;
  --font-family-gilroy: 'Gilroy', sans-serif;

  --trans-duration: .08s;
  --color-error: rgb(224, 49, 49);

  --title-bar-height: 26px;
}