.loaderBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9;
}

.dotLoader {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 8px;
    height: 8px;
    background: #316c6c;
    border-radius: 50%;
    display: inline-block;
    animation: slideDotLoader 0.9s infinite linear;
    margin: 0 3px;

    &:nth-child(1){ animation-delay: .0s; }
    &:nth-child(2){ animation-delay: .2s; }
    &:nth-child(3){ animation-delay: .4s; }

    @keyframes slideDotLoader {
      0% { transform: scale(1); }
      20% { transform: scale(1.75); }
      40% { transform: scale(1); }
      100% { transform: scale(1); }
    }
  }
}