body[data-theme="dark"] .drawer {
  --drawer-border-color: rgba(255, 255, 255, 0.15);
  --drawer-bg-header: #1e1e1e;
  --drawer-bg-body: #0a0a0a;
  --drawer-bg-footer: #282828;
}

body[data-theme="light"] .drawer {
  --drawer-border-color: #e7e7e7;
  --drawer-bg-header: #f1f1f1;
  --drawer-bg-body: #ffffff;
  --drawer-bg-footer: #FAFAFA;
}

$anim-duration: 200ms;

.overlay {
  position: fixed;
  margin-top: -26px;
  //inset: 0;
  top: var(--title-bar-height);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  //opacity: 0;
  transition: all 200ms ease;

  :global(.enter-done) & {
    opacity: 1;
  }

  :global(.exit) & {
    opacity: 0;
    transition-duration: 500ms;
    // transition-timing-function: linear;
  }
}

.drawer-inner {
  pointer-events: none;
  position: fixed;
  z-index: 201;
  //top: var(--title-bar-height);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-height: 100%;
}

[data-mini-sidebar=true] {
  .content {
    width: calc(86% + 125px);
  }
}

.content {
  pointer-events: all;
  display: flex;
  //flex: 0 0 400px;
  flex-direction: column;
  opacity: 0;
  transform: translateX(100%);
  transform-origin: left center;
  height: 100%;
  //width: 86.5%;
  //max-width: 100%;
  max-height: 100%;
  color: var(--color-secondary);
  transition-duration: 200ms;
  transition-property: transform, opacity, width;
  transition-timing-function: ease;

  :global(.enter-done) & {
    transform: translateX(0);
    opacity: 1;
  }

  :global(.exit) & {
    transition-duration: 500ms;
    transform: translateX(100%);
    opacity: 0;
    // transition-timing-function: linear;
  }
}

@media (min-width: 2561px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.7% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(93% - 25px);
  }
}

@media (max-width: 2560px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.7% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.9% - 25px);
  }
}

@media (max-width: 2540px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.6% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.9% - 25px);
  }
}

@media (max-width: 2520px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.5% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.9% - 25px);
  }
}

@media (max-width: 2500px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.45% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.75% - 25px);
  }
}

@media (max-width: 2480px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.4% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.6% - 25px);
  }
}

@media (max-width: 2460px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.3% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.6% - 25px);
  }
}

@media (max-width: 2440px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.2% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.6% - 25px);
  }
}

@media (max-width: 2420px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91.25% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.45% - 25px);
  }
}

@media (max-width: 2400px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(91% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.3% - 25px);
  }
}

@media (max-width: 2380px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.9% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.3% - 25px);
  }
}

@media (max-width: 2360px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.8% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.3% - 25px);
  }
}

@media (max-width: 2340px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.75% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91.15% - 25px);
  }
}

@media (max-width: 2320px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.7% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91% - 25px);
  }
}

@media (max-width: 2300px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.65% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91% - 25px);
  }
}

@media (max-width: 2280px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.6% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(91% - 25px);
  }
}

@media (max-width: 2260px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.55% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.85% - 25px);
  }
}

@media (max-width: 2240px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.5% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.7% - 25px);
  }
}

@media (max-width: 2220px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.4% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.7% - 25px);
  }
}

@media (max-width: 2200px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.3% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.7% - 25px);
  }
}

@media (max-width: 2180px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.2% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.55% - 25px);
  }
}

@media (max-width: 2160px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90.1% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.4% - 25px);
  }
}

@media (max-width: 2140px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(90% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.4% - 25px);
  }
}

@media (max-width: 2120px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.9% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.4% - 25px);
  }
}

@media (max-width: 2100px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.8% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.25% - 25px);
  }
}

@media (max-width: 2080px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.7% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(90.1% - 25px);
  }
}

@media (max-width: 2060px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.6% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.95% - 25px);
  }
}

@media (max-width: 2040px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.5% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.8% - 25px);
  }
}

@media (max-width: 2020px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.4% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.7% - 25px);
  }
}

@media (max-width: 2000px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.3% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.6% - 25px);
  }
}

@media (max-width: 1980px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.25% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.4% - 25px);
  }
}

@media (max-width: 1960px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89.2% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.6% - 25px);
  }
}

@media (max-width: 1940px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(89% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.45% - 25px);
  }
}

@media (max-width: 1920px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(88.8% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.3% - 25px);
  }
}

@media (max-width: 1900px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(88.7% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89.15% - 25px);
  }
}

@media (max-width: 1880px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(88.6% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(89% - 25px);
  }
}

@media (max-width: 1860px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(88.5% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(88.85% - 25px);
  }
}

@media (max-width: 1840px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(88.4% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(88.7% - 25px);
  }
}

@media (max-width: 1820px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(88.2% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(88.55% - 25px);
  }
}

@media (max-width: 1800px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(88% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(88.4% - 25px);
  }
}

@media (max-width: 1780px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.9% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(88.25% - 25px);
  }
}

@media (max-width: 1760px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.8% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(88.1% - 25px);
  }
}

@media (max-width: 1740px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.715% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(87.95% - 25px);
  }
}

@media (max-width: 1720px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.615% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(87.8% - 25px);
  }
}

@media (max-width: 1700px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.515% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(87.7% - 25px);
  }
}

@media (max-width: 1680px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.415% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(87.55% - 25px);
  }
}

@media (max-width: 1660px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.315% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(87.4% - 25px);
  }
}

@media (max-width: 1640px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.215% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(87.25% - 25px);
  }
}

@media (max-width: 1620px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.115% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(87.1% - 25px);
  }
}

@media (max-width: 1600px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87.1% + 125px);
    }
  }
  .content {
    width: calc(87% - 125px);
  }
}

@media (max-width: 1580px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(87% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.9% - 25px);
  }
}

@media (max-width: 1560px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.9% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.8% - 25px);
  }
}

@media (max-width: 1540px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.8% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.7% - 25px);
  }
}

@media (max-width: 1520px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.7% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.6% - 25px);
  }
}

@media (max-width: 1500px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.6% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.5% - 25px);
  }
}

@media (max-width: 1480px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.5% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.4% - 25px);
  }
}

@media (max-width: 1460px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.4% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.3% - 25px);
  }
}

@media (max-width: 1440px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.3% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.2% - 25px);
  }
}

@media (max-width: 1420px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.2% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86.1% - 25px);
  }
}

@media (max-width: 1400px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86.1% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(86% - 25px);
  }
}

@media (max-width: 1380px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(86% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.9% - 25px);
  }
}

@media (max-width: 1360px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.9% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.8% - 25px);
  }
}

@media (max-width: 1340px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.8% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.7% - 25px);
  }
}

@media (max-width: 1320px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.7% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.6% - 25px);
  }
}

@media (max-width: 1300px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.6% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.5% - 25px);
  }
}

@media (max-width: 1280px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.5% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.4% - 25px);
  }
}

@media (max-width: 1260px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.4% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.3% - 25px);
  }
}

@media (max-width: 1240px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.3% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.2% - 25px);
  }
}

@media (max-width: 1220px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.2% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85.1% - 25px);
  }
}

@media (max-width: 1200px) {
  [data-mini-sidebar=true] {
    .content {
      width: calc(85.1% + 125px);
    }
  }
  .content:not([data-mini-sidebar=true]) {
    width: calc(85% - 25px);
  }
}

//@media (min-width: 2561px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.7% + 125px);
//    }
//  }
//  .content {
//    width: 93%;
//  }
//}
//
//@media (max-width: 2560px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.7% + 125px);
//    }
//  }
//  .content {
//    width: 91.9%;
//  }
//}
//
//@media (max-width: 2540px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.6% + 125px);
//    }
//  }
//  .content {
//    width: 91.9%;
//  }
//}
//
//@media (max-width: 2520px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.5% + 125px);
//    }
//  }
//  .content {
//    width: 91.9%;
//  }
//}
//
//@media (max-width: 2500px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.45% + 125px);
//    }
//  }
//  .content {
//    width: 91.75%;
//  }
//}
//
//@media (max-width: 2480px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.4% + 125px);
//    }
//  }
//  .content {
//    width: 91.6%;
//  }
//}
//
//@media (max-width: 2460px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.3% + 125px);
//    }
//  }
//  .content {
//    width: 91.6%;
//  }
//}
//
//@media (max-width: 2440px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.2% + 125px);
//    }
//  }
//  .content {
//    width: 91.6%;
//  }
//}
//
//@media (max-width: 2420px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91.25% + 125px);
//    }
//  }
//  .content {
//    width: 91.45%;
//  }
//}
//
//@media (max-width: 2400px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(91% + 125px);
//    }
//  }
//  .content {
//    width: 91.3%;
//  }
//}
//
//@media (max-width: 2380px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.9% + 125px);
//    }
//  }
//  .content {
//    width: 91.3%;
//  }
//}
//
//@media (max-width: 2360px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.8% + 125px);
//    }
//  }
//  .content {
//    width: 91.3%;
//  }
//}
//
//@media (max-width: 2340px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.75% + 125px);
//    }
//  }
//  .content {
//    width: 91.15%;
//  }
//}
//
//@media (max-width: 2320px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.7% + 125px);
//    }
//  }
//  .content {
//    width: 91%;
//  }
//}
//
//@media (max-width: 2300px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.65% + 125px);
//    }
//  }
//  .content {
//    width: 91%;
//  }
//}
//
//@media (max-width: 2280px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.6% + 125px);
//    }
//  }
//  .content {
//    width: 91%;
//  }
//}
//
//@media (max-width: 2260px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.55% + 125px);
//    }
//  }
//  .content {
//    width: 90.85%;
//  }
//}
//
//@media (max-width: 2240px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.5% + 125px);
//    }
//  }
//  .content {
//    width: 90.7%;
//  }
//}
//
//@media (max-width: 2220px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.4% + 125px);
//    }
//  }
//  .content {
//    width: 90.7%;
//  }
//}
//
//@media (max-width: 2200px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.3% + 125px);
//    }
//  }
//  .content {
//    width: 90.7%;
//  }
//}
//
//@media (max-width: 2180px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.2% + 125px);
//    }
//  }
//  .content {
//    width: 90.55%;
//  }
//}
//
//@media (max-width: 2160px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90.1% + 125px);
//    }
//  }
//  .content {
//    width: 90.4%;
//  }
//}
//
//@media (max-width: 2140px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(90% + 125px);
//    }
//  }
//  .content {
//    width: 90.4%;
//  }
//}
//
//@media (max-width: 2120px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.9% + 125px);
//    }
//  }
//  .content {
//    width: 90.4%;
//  }
//}
//
//@media (max-width: 2100px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.8% + 125px);
//    }
//  }
//  .content {
//    width: 90.25%;
//  }
//}
//
//@media (max-width: 2080px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.7% + 125px);
//    }
//  }
//  .content {
//    width: 90.1%;
//  }
//}
//
//@media (max-width: 2060px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.6% + 125px);
//    }
//  }
//  .content {
//    width: 89.95%;
//  }
//}
//
//@media (max-width: 2040px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.5% + 125px);
//    }
//  }
//  .content {
//    width: 89.8%;
//  }
//}
//
//@media (max-width: 2020px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.4% + 125px);
//    }
//  }
//  .content {
//    width: 89.7%;
//  }
//}
//
//@media (max-width: 2000px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.3% + 125px);
//    }
//  }
//  .content {
//    width: 89.6%;
//  }
//}
//
//@media (max-width: 1980px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.25% + 125px);
//    }
//  }
//  .content {
//    width: 89.4%;
//  }
//}
//
//@media (max-width: 1960px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89.2% + 125px);
//    }
//  }
//  .content {
//    width: 89.6%;
//  }
//}
//
//@media (max-width: 1940px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(89% + 125px);
//    }
//  }
//  .content {
//    width: 89.45%;
//  }
//}
//
//@media (max-width: 1920px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(88.8% + 125px);
//    }
//  }
//  .content {
//    width: 89.3%;
//  }
//}
//
//@media (max-width: 1900px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(88.7% + 125px);
//    }
//  }
//  .content {
//    width: 89.15%;
//  }
//}
//
//@media (max-width: 1880px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(88.6% + 125px);
//    }
//  }
//  .content {
//    width: 89%;
//  }
//}
//
//@media (max-width: 1860px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(88.5% + 125px);
//    }
//  }
//  .content {
//    width: 88.85%;
//  }
//}
//
//@media (max-width: 1840px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(88.4% + 125px);
//    }
//  }
//  .content {
//    width: 88.7%;
//  }
//}
//
//@media (max-width: 1820px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(88.2% + 125px);
//    }
//  }
//  .content {
//    width: 88.55%;
//  }
//}
//
//@media (max-width: 1800px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(88% + 125px);
//    }
//  }
//  .content {
//    width: 88.4%;
//  }
//}
//
//@media (max-width: 1780px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(87.9% + 125px);
//    }
//  }
//  .content {
//    width: 88.25%;
//  }
//}
//
//@media (max-width: 1760px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(87.8% + 125px);
//    }
//  }
//  .content {
//    width: 88.1%;
//  }
//}
//
//@media (max-width: 1740px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(87.715% + 125px);
//    }
//  }
//  .content {
//    width: 87.95%;
//  }
//}
//
//@media (max-width: 1720px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(87.615% + 125px);
//    }
//  }
//  .content {
//    width: 87.8%;
//  }
//}
//
//@media (max-width: 1700px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(87.415% + 125px);
//    }
//  }
//  .content {
//    width: 87.65%;
//  }
//}
//
//@media (max-width: 1680px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(87.215% + 125px);
//    }
//  }
//  .content {
//    width: 87.5%;
//  }
//}
//
//@media (max-width: 1660px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(87.065% + 125px);
//    }
//  }
//  .content {
//    width: 87.35%;
//  }
//}
//
//@media (max-width: 1640px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(86.915% + 125px);
//    }
//  }
//  .content {
//    width: 87.2%;
//  }
//}
//
//@media (max-width: 1620px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(86.715% + 125px);
//    }
//  }
//  .content {
//    width: 87.05%;
//  }
//}
//
//@media (max-width: 1600px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(86.515% + 125px);
//    }
//  }
//  .content {
//    width: 86.9%;
//  }
//}
//
//@media (max-width: 1580px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(86.365% + 125px);
//    }
//  }
//  .content {
//    width: 86.75%;
//  }
//}
//
//@media (max-width: 1560px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(86.215% + 125px);
//    }
//  }
//  .content {
//    width: 86.6%;
//  }
//}
//
//@media (max-width: 1540px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(86.015% + 125px);
//    }
//  }
//  .content {
//    width: 86.45%;
//  }
//}
//
//@media (max-width: 1520px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(85.815% + 125px);
//    }
//  }
//  .content {
//    width: 86.3%;
//  }
//}
//
//// changed zoom in this range
//
//@media (max-width: 1480px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(86.015% + 125px);
//    }
//  }
//  .content {
//    width: 87.1%;
//  }
//}
//
//@media (max-width: 1460px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(85.815% + 125px);
//    }
//  }
//  .content {
//    width: 86.9%;
//  }
//}
//
//@media (max-width: 1440px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(85.615% + 125px);
//    }
//  }
//  .content {
//    width: 86.7%;
//  }
//}
//
//@media (max-width: 1420px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(85.415% + 125px);
//    }
//  }
//  .content {
//    width: 86.5%;
//  }
//}
//
//@media (max-width: 1400px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(85.215% + 125px);
//    }
//  }
//  .content {
//    width: 86.3%;
//  }
//}
//
//@media (max-width: 1380px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(84.915% + 125px);
//    }
//  }
//  .content {
//    width: 86.1%;
//  }
//}
//
//@media (max-width: 1360px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(84.615% + 125px);
//    }
//  }
//  .content {
//    width: 85.9%;
//  }
//}
//
//@media (max-width: 1340px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(84.415% + 125px);
//    }
//  }
//  .content {
//    width: 85.7%;
//  }
//}
//
//@media (max-width: 1320px) {
//  [data-mini-sidebar=true] {
//    .content {
//      width: calc(84.215% + 125px);
//    }
//  }
//  .content {
//    width: 85.5%;
//  }
//}