@import '/src/shared/styles/mixins.global.scss';
//Cookie styles
[data-cookie-error=false].cookiesInfo {
    background: #075655;

    &:before {
        border-right: 20px solid #075655;
    }
}

[data-text-file-boolean=true].cookiesInfo {
    opacity: 1;
}

.cookieWrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cookiesInfo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(124, 76, 74);
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: calc(50% - 20px);
        left: -18px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid rgb(124, 76, 74);
    }
}

.fieldCookie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    //width: 445px;
    //height: 210px;
    width: 50%;
    height: 138px;

    flex-shrink: 0;
    border-radius: 6px;
    border: 0.6px solid rgba(107, 255, 255, 0.40);
}
.cookieFileName{
  margin-top:10px;
}
.imgCookie {

}

.textCookie {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.13px;
    color: var(--drawer-form-btn-text-color);
    padding: 9px 0 24px 0;
}

.cookieImportFileContent {
    text-align: center;
}

.fieldCookieTextarea {
    display: flex;
    width: 50%;
    height: 200px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid rgba(107, 255, 255, 0.40);
}

.textareaTextFile {
    @include textareaScrollbar;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    height: 100%;
    resize:none;
    background: #161616;
}

.textareaCloseIcon {
    cursor: pointer;
    filter: invert(1);
    position: absolute;
    top: 8px;
    right: 15px;
}

.buttonCookie {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0.4px solid rgba(107, 255, 255, 0.40);
    background-color: var(--drawer-form-btn-cookie-bg);
    margin-top: 24px;
    .buttonCookieText {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1px;
        color: var(--drawer-form-btn-text-color-active);
    }
}
