@import '/src/shared/styles/mixins.global.scss';
body[data-theme="dark"] {
  --drawer-form-bg: #0a0a0a;
  --drawer-form-btn-bg-rgb: 161, 198, 194;
  --drawer-form-btn-bg: rgba(var(--drawer-form-btn-bg-rgb), 0.6);
  --drawer-form-btn-bg-hover: rgba(var(--drawer-form-btn-bg-rgb), 0.7);
  --drawer-form-btn-text-bg: #ffffff;
  --drawer-form-btn-text-color: #848484;
  --drawer-form-btn-text-color-active: #ffffff;
  --drawer-form-error: #7c4c4a;
  --drawer-form-success: #17cbcb;
  --drawer-form-btn-cookie-bg: #181818;
}

body[data-theme="light"] {
  --drawer-form-bg: #ffffff;
  --drawer-form-btn-bg-rgb: 23, 203, 203;
  --drawer-form-btn-bg: rgba(var(--drawer-form-btn-bg-rgb), 0.8);
  --drawer-form-btn-bg-hover: rgba(var(--drawer-form-btn-bg-rgb), 1);
  --drawer-form-btn-text-bg: #989898;
  --drawer-form-btn-text-color: #a9a9a9;
  --drawer-form-btn-text-color-active: #545454;
  --drawer-form-error: #f58d8d;
  --drawer-form-success: #17cbcb;
  --drawer-form-btn-cookie-bg: #f4f4f4;
}

[data-geo-error-longitude=true].geoErrorContainer {
  opacity: 1;
}

[data-geo-error-latitude=true].geoErrorContainer {
  opacity: 1;
}
[data-geo-error-precision=true].geoErrorContainer {
  opacity: 1;
}

[data-proxy-error=true].wrapperProxyBottom {
  opacity: 1;
}

[data-check-proxy-success=true].wrapperProxyBottom {
  background: #075655;

  &:before {
    border-right: 20px solid #075655;
  }
}

.form {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.form-pages {
  flex-grow: 1;
  padding: 30px 0 0 0;
}

.form-page {
  display: flex;
  flex-direction: column;
  //overflow: hidden;
  gap: 30px;
  padding: 0 27px;
}

.advancedSettings{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;

  &-open {
    max-height: 1700px; 
  }
}

.field {
  display: flex;
}

.statusesWrapper {
  width: 30%;
}

.platformsWrapper {
  width: 30%;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.label {
  display: flex;
  align-items: center;
  align-self: flex-start;
  transform: translateY(-2px);
  padding: 10px 10px 0 6px;
  width: 171px;
  min-height: 42px;
  font-weight: 550;
  font-size: 14px;
  letter-spacing: 0.01em;
  white-space: pre-line;
  color: var(--color-secondary);
}

.controlsHeaderCustom {
  display: flex;
}

.controlsProxyCustom {
  display: flex;
  width: 100%;
}

.segmentedControlCustom {
  width: 60%;
}

.controls {
  width: 36%;
}

.controlsUseragent {
  width: 80%;
}

.userAgentWrapperFirstChild {
  width: 45%;
}

.controlsGeo {
  display: flex;
  gap: 39px;
  //width: 57%;
  width: 72%;
}

.formFooter {
  display: flex;
  //gap: 15px;
  align-items: center;
  background: #282828;
  height: 66px;
  width: 100%;
  padding: 0 27px;
}

.freeSpace {
  width: 171px;
}

.footerButtons {
  display: flex;
  gap: 15px;
  height: 46px;
  width: 36%;
}

.errorValidation {
  font-size: 12px;
  font-weight: 550;
  color: red;
  padding: 0 27px 27px 27px;
}

.btnSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 4px;
  border-radius: 6px;
  background: rgba(107, 255, 255, 0.40);
  font-size: 16px;
  font-weight: 550;
  color: #fff;

  &:hover {
    background: rgba(107, 255, 255, 0.55);
  }
}

.btnCancel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 4px;
  border: 1px solid rgba(217, 217, 217, 0.20);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.80);
  background-color: #282828;

  &:hover {
    background-color: #3B3B3B;
  }
}

.mediaSettingsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 6px;
}

.mediaSettings {
  display: flex;
  justify-content: space-between;
}

.inputNum {
  appearance: none;
  outline: none;
  width: 31.5%;
  height: 25px;
  border-radius: 6px;
  border: 0.6px solid rgba(107, 255, 255, 0.40);
  background: #0A0A0A;
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.13px;

  &:focus {
    border: 0.6px solid rgba(107, 255, 255, 0.40);
  }
}

.mediaSettingsLabel {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  width: 13%;
}

.inputRangeWrapper {
  width: 40%;
  margin-left: 25px;
}

.inputRange {
  appearance: none;
  outline: none;
  width: 100%;
  height: 10px;
  border-radius: 15px;
  background: rgba(107, 255, 255, 0.20);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  overflow: hidden;
  margin-top: 6px;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #006F6E;
    border: 3px solid rgba(107, 255, 255, 0.70);
    box-shadow: -407px 0 0 400px rgba(107, 255, 255, 0.50);
    cursor: pointer;
  }
}

.geoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.geoOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.geoLabel {
  width: 11%;
}

.inputNumGeo {
  appearance: none;
  outline: none;
  width: 37%;
  height: 30px;
  border-radius: 6px;
  border: 0.6px solid rgba(107, 255, 255, 0.40);
  background: #0A0A0A;
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.13px;

  &:focus {
    border: 0.6px solid rgba(107, 255, 255, 0.40);
  }
}

.mainHeader {
  padding-top: 40px;
}

.mainFooter {
  padding-top: 24px;
}

.wrapperOptions {
  display: flex;
  flex-direction: column;
  //max-width: 29.8vw;
  width: 100%;
  gap: 15px;
}

.wrapperProxyOptions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.mainTop {
  padding-top: 25px;
}

.switch {
  padding-top: 6px;
  //padding-bottom: 9px;
}

.webglInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

//ProxyForm styles
.wrapperProxyForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.chooseProxySelect {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

//.round {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 10px;
//  height: 10px;
//  border-radius: 50%;
//  border: 1px solid var(--drawer-form-btn-text-color);
//  background-color: var(--drawer-form-bg);
//  margin-bottom: 4px;
//}
//
//.roundActive {
//  border: 2px solid var(--drawer-form-btn-text-color-active);
//}

.roundText {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.13px;
  color: var(--drawer-form-btn-text-color);
}

.roundActive {
  background: rgba(107, 255, 255, 0.10);
  .roundText {
    color: var(--drawer-form-btn-text-color-active);
  }
}

.geoSegmentedControl {
  width: 50%;
}

.timezoneContent {
  display: flex;
  gap: 10px;
}

.wrapperRound {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(107, 255, 255, 0.40);
  border-radius: 6px;
  height: 42px;
  width: 100%;
}

.wrapperRender {
  display: flex;
  align-items: center;
  gap: 15px;
  //margin-top: -15px;
}

.wrapperProtocols {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 50%;
}

.geoErrorContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 48%;
  background: rgb(124, 76, 74);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
}

.geoErrorText {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
}

.inputGreenBorder {
  border: 1px solid rgba(107, 255, 255, 0.40);
  border-radius: 6px;
  padding: 0 16px;
}

.wrapperProxyBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;

  position: relative;
  width: 30%;
  background: rgb(124, 76, 74);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: calc(50% - 10px);
    left: -12px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 14px solid rgb(124, 76, 74);
  }

  .wrapperProxyLeft {
    margin:40px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    .proxyLeft {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .proxyText {
        padding-left: 7px;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: var(--drawer-form-btn-text-color);
      }
      .proxyArrows path {
        fill: var(--drawer-form-btn-text-color);
      }
    }
    .proxyLine {
      padding-top: 4.5px;
      width: 150px;
      border-bottom: 1px dashed var(--drawer-form-btn-text-color);
    }
  }
  .errorButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 82px;
    padding: 10px 10px;
    height: 29px;
    flex-shrink: 0;
    .errorText {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.1px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

  .wrapperCookie {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .successButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 82px;
    padding: 10px 10px;
    height: 29px;
    flex-shrink: 0;
    .successText {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.1px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

.wrapperCookie {
  button {
    color: #ffffff;
    background: rgba(107, 255, 255, 0.10);
    height: 23px;
    border-radius: 30px;
    border: 0.4px solid rgba(107, 255, 255, 0.40);

    &:hover {
      background: rgba(107, 255, 255, 0.10);
    }
  }
}

.wrapperCookieAndNote {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  border-bottom: none !important;
}

.downloadLayout {
  display: flex;
  gap: 15px;
}

.checkDataBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 6px;
  padding: 7px 12px;
  background: rgba(107, 255, 255, 0.4);

  &:hover {
    background: rgba(107, 255, 255, 0.55);
  }
}

.profileInput::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 0.14px;
  //color: var(--color-secondary);
}

.profileInput {
  border: 1px solid rgba(107, 255, 255, 0.40);
  border-radius: 6px;
  padding: 0 16px;
}

.profileInputUserAgent {
  border: none;

  &:focus {
    border: none;
  }
}

.profileInputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(107, 255, 255, 0.40);
  border-radius: 6px;
}

.userAgentInputWrapper {
  width: 75%;
}

.profileUseragentOsWrapper {
  display: flex;
  align-items: center;
  width: 75%;

  label {
    padding: 8px 0;
    width: 10vw;
  }
}

.optionItemWrapper {
  border-top: 0.6px solid #3B3B3B;
  padding: 25px 0 0 0;
}

.formPageFormMainPart {
  gap: 25px;
  padding-bottom: 25px;
}

.noteWrapper {
  width: 50%;
}

.inputProxyFormatCustomWrapper {
  display: flex;
  gap: 20px;
  height: 42px;
}

.inputProxyFormatCustom {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid rgba(107, 255, 255, 0.40);
  width: 50%;
  padding: 0 16px;
}

.inputProxyCustom {
  display: flex;
  border-radius: 6px;
  border: 1px solid rgba(107, 255, 255, 0.40);
  width: 75%;
  padding: 0 16px;
}

.inputUniq {
  width: 100%;
  padding-right: 16px;
}

.formatButton {
  color: #6C6C6C;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  //border-radius: 0 6px 6px 0;
  //border: 1px solid rgba(107, 255, 255, 0.40);
  //border-left: none;
  //padding: 1px 12px 0 0;
}

.formatButtonIcon {
  margin: -2px 5px 0 0;
}

.checkProxyBtn {
  display: flex;
}

.reloadButton {
  color: #6C6C6C;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  padding: 11px 4px 12px 16px;
}

.labelText {
  margin-top: 2px;
}

.labelTextWin {
  margin-top: 0 !important;
}

.selectPlatform {
  opacity: 0.5;
}

.selectPlatform::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 0.14px;
}

.appLabel {
  display: flex;
  align-items: center;
}

.appLabelText {
  padding: 1px 0 0 6px;
}

.userAgentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.userAgent {
  padding-top: 20px;
}

.userAgentMessage {
  font-size: 13px;
  color: red;
}

.row1 {
  display: flex;
  width: 100%;
  gap: 15px;
}

.inputProfileNameWidth {
  width: 35%;
}

.selectTagsWidth {
  width: 100%;
  position: relative;
}

.foldersContainer {
  width: 100%;
}

.tagsFolders {
  display: flex;
  gap: 15px;
  width: 100%;
}

.customTagsContainer {
  display: flex;
  gap: 7px;
  width: 100%;

  border: 1px solid rgba(107, 255, 255, 0.4);
  border-radius: 6px;
  padding: 6px 8px 7px 8px;
  min-height: 43px;
}

.customTagsLeftSide {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 95%;
}

.tagItemRemove {
  cursor: pointer;
}

.tagItemWrapper {
  display: flex;
  align-items: baseline;
  gap: 8px;
  border-radius: 12px;
  background: rgba(107, 255, 255, 0.10);
  padding: 6px 7px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.tagItemsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tagItemsRemove {
  cursor: pointer;
}

.openDropDown {
  cursor: pointer;
}

.customTagsRightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;

  width: 5%;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  background: #2A2A2A;
  padding: 11px 9px 17px 9px;
  top: 100%;
  width: 100%;
  max-height: 453px;
  z-index: 300;
}

.dropdownContent {
  @include scrollbar;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.checkboxSelected {
  margin-right: -2px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;

  &:hover {
    background: rgba(217, 217, 217, 0.05);
  }
}

.labelTag {
  border-radius: 11px;
  background: rgba(107, 255, 255, 0.10);
  padding: 8px 10px 6px 10px;
  cursor: pointer;
}

.searchTagsWrapper {
  display: flex;
  align-items: center;
  padding: 0 0 11px 9px;
  border-bottom: 1px solid rgba(45, 45, 45, 0.95);
}

.inputSearchTags {
  border: none;
  outline: none;
  background: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  width: 100%;
  padding-right: 5px;
}

.inputTags {
  border: none;
  outline: none;
  background: none;
  height: 100%;
  flex-grow: 1;

  &::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    letter-spacing: 0.14px;
  }
}

.width100Percent {
  width: 100%;
}

.mainTitle {
  display: flex;
  align-items: center;
  padding-left: 26px;
  width: 100%;
  height: 63px;
  border-radius: 6px;
  background: rgba(107, 255, 255, 0.40);

  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  &-withIcon{
    justify-content: space-between;
    padding-right: 26px;
    margin-bottom: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  &-open {
    margin-bottom: 0;
  }
}

.modalWindowHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px 6px 0 0;
  background: rgba(217, 217, 217, 0.10);
  padding: 22px;
}

.modalWindowTitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 0.4px;
}

.closeBtn {
  cursor: pointer;
}

@media (max-width: 1550px) {
  .formFooter {
    height: 66px;
  }
}

@media (max-width: 1480px) {
  .formFooter {
    height: 66px;
  }
}

@media (max-width: 1420px) {
  .formFooter {
    height: 66px;
  }
}

@media (max-width: 1380px) {
  .formFooter {
    height: 65px;
  }
}
