[data-modal-window-open=true].modalWindowWrapper {
  opacity: 1;
  z-index: 1001;
  margin-top: 0;
  transform: translate(0, 0);

  .modalWindowContent {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.modalWindowWrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(30, 30, 32, 0.80);

  z-index: -1;
  transform: translate(0, -10000%);
  opacity: 0;
}

.modalWindowContent {
  margin: auto;
  border-radius: 6px;
  min-height: 50px;
  min-width: 500px;
  background: #161616;
  opacity: 0;
  transform: translate(0, -300px);
  transition: all 0.2s ease 0s;
}

//[data-modal-window-open=true].modalWindowWrapper {
//  display: flex;
//}
//
//.modalWindowWrapper {
//  display: none;
//  position: fixed;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  background: rgba(30, 30, 32, 0.80);
//  z-index: 2;
//}
//
//.modalWindowContent {
//  margin: auto;
//  border-radius: 6px;
//  min-height: 50px;
//  min-width: 400px;
//  background: #161616;
//}