body[data-theme=dark] .segmented-control {
  --segmented-control-border-color: rgba(107, 255, 255, 0.40);
  --segmented-control-bg-active: rgba(107, 255, 255, 0.10);
  --segmented-control-text-color: rgba(255, 255, 255, 0.6);
}

body[data-theme=light] .segmented-control {
  --segmented-control-border-color: #CACACA;
  --segmented-control-bg-active: #F4F4F4;
  --segmented-control-text-color: rgba(84, 84, 84, 0.7);
}

.segmented-control {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  //overflow: hidden;
  width: 100%;
  //height: 40px;
  //border: 1px solid var(--segmented-control-border-color);
  //border-radius: 30px;
  //background-color: transparent;
}

.control {
  //position: relative;
  //z-index: 0;
  display: flex;
  width: 100%;
  height: 42px;
  flex: 1 1 0;
  transition: border-left ease 200ms;

  &:not(:first-of-type) {
    //border-left: 0.6px solid var(--segmented-control-border-color);
  }
}

.input {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.label {
  user-select: none;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 16px;
  gap: 15px;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  white-space: nowrap;
  color: var(--segmented-control-text-color);
  transition: color ease 200ms;
  cursor: pointer;
  border: 1px solid var(--segmented-control-border-color);
  border-radius: 6px;

  &--active {
    //font-weight: 500;
    //font-size: 14px;
    color: var(--color-secondary);
    background-color: var(--segmented-control-bg-active);
  }
}